# Data
data/
!data/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# MLflow
mlruns/
mlartifacts/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Distribution
dist/
build/
*.egg-info/
